* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
#subheading {
  font-family: 'Qwigley', cursive;
  font-size: 7.0rem;
  color: gold;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

#subheading {
  font-size: 4rem;
}

#frame {
  width: 1024px;
  height: 768px;
  background-color: rgb(215, 35, 35);
  text-align: center;
  border-radius: 3%;
  box-shadow: 
  0px 5px 5px rgba(255, 255, 255, 0.4) inset,
  0px -5px 5px rgba(0, 0, 0, 0.4) inset
}